# ===================================================================
# tpDcc-tools-scripteditor requirements file
# ===================================================================
appdirs
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt
tpDcc-libs-nameit