# ===================================================================
# tpDcc-tools-scripteditor requirements file
# ===================================================================
jedi
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt